{% extends 'base.jinja2' %}

{% block subtitle %}Donations{% endblock subtitle %}

{% block content %}
<ul>
    {% for donation in donations %}
        <li><b>{{ donation.donor.name }}</b>: {{ donation.value }}</li>
    {% endfor %}
    {% for donation in donors %}
        <li><b>{{ donation.donor.name }}</b>: {{ donation.value }}</li>
    {% endfor %}
    {% for error in errors %}
        <b>{{ error }}</b>
    {% endfor %}
</ul>
{% endblock content %}
