{% extends 'base.jinja2' %}

{% block subtitle %}Donor Contributions{% endblock subtitle %}

{% block content %}
<ul>
    {% for donor in donors %}
        <li><b>{{ donor.donor.name }}</b>: {{ donor.value }}</li>
    {% endfor %}
</ul>
{% endblock content %}
